@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/Fonts/Inter_18pt-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/Fonts/Inter_18pt-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/Fonts/Inter_18pt-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/Fonts/Inter_18pt-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/Fonts/Inter_18pt-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/Fonts/Inter_18pt-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/Fonts/Inter_18pt-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/Fonts/Inter_18pt-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/Fonts/Inter_18pt-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Inter24";
  src: url("/Fonts/Inter_24pt-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter24";
  src: url("/Fonts/Inter_24pt-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter24";
  src: url("/Fonts/Inter_24pt-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Inter24";
  src: url("/Fonts/Inter_24pt-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Inter24";
  src: url("/Fonts/Inter_24pt-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter24";
  src: url("/Fonts/Inter_24pt-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter24";
  src: url("/Fonts/Inter_24pt-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter24";
  src: url("/Fonts/Inter_24pt-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter24";
  src: url("/Fonts/Inter_24pt-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Inter28";
  src: url("/Fonts/Inter_28pt-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter28";
  src: url("/Fonts/Inter_28pt-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter28";
  src: url("/Fonts/Inter_28pt-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Inter28";
  src: url("/Fonts/Inter_28pt-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Inter28";
  src: url("/Fonts/Inter_28pt-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter28";
  src: url("/Fonts/Inter_28pt-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter28";
  src: url("/Fonts/Inter_28pt-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter28";
  src: url("/Fonts/Inter_28pt-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter28";
  src: url("/Fonts/Inter_28pt-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}




:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#word{
  font-family: Megrim, cursive;
  font-size: 20vh;
  position: absolute;
  margin: 10;
  color: #A754CF;
  -webkit-text-stroke: 0.15vh #547CCF;
}
